.container1 {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "header header"
        "principalTitle principalTitle"
        "section1 section3"
        "section1 section4"
        "footer footer";
}

.galeriawidth{
    width: 500px;
 }



.section1 {
    grid-area: section1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section1 nav ul li {

    padding-top: 10px;
    list-style: none;
    font-size: 15px;
}


.section1 nav h3 {
    margin: 10px;
}


.leftmenu ul li a {
    opacity: 70%;
    &:hover {
        opacity: 100%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
}


.leftcoming {
    padding-top: 20px;
}

.section3 {
    grid-area: section3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}



.section4 {
    grid-area: section4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.section4 h2 {
    padding-top: 50px;
}

.trailer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    iframe {
        width: 300px;
        height: auto;
        opacity: 60%;
        margin: 3rem;
        &:hover {
            opacity: 100%;
            transition: 0.5s;
        }
    }

}

.blurgallery{
    filter: blur(1rem);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-filter: blur(1rem);
}

.blurgallery:hover{
    filter: blur(0);
    -webkit-filter: blur(0);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.empty {
    grid-area: empty;
}

.bg-button-me{
    background-color: rgb(204, 172, 172);
    color: $letraOscura;
    
}

.carousel-indicators{
    .buttonlight{
        background-color: $letraClara;
    }
}
