* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  color: #ccacac; }

body {
  padding: 20px;
  font-family: 'Contrail One', cursive;
  background-image: linear-gradient(black, #1f0000 30%, #0c0b0b); }
  body h1,
  body h2,
  body h3,
  body h4 {
    font-family: 'Fugaz One', cursive; }
  body h1 {
    text-shadow: 0 0 0.2em #644b49;
    padding: 20px;
    margin: 20px;
    font-size: 70px; }
  body h2 {
    font-size: 40px;
    margin: 10px; }
  body h3 {
    font-size: 20px; }
  body a {
    color: #ccacac;
    text-decoration: none; }
    body a:hover {
      color: #ccacac; }
  body hr {
    width: 90%;
    align-self: center;
    border: 0;
    height: 0;
    box-shadow: 0 1px 5px 1px rgba(204, 172, 172, 0.322); }

.bot-buscar {
  border: none; }
  .bot-buscar:hover {
    color: #ccacac;
    background-color: #1f0000; }

.center {
  text-align: center; }

input {
  accent-color: #350f0f; }

img {
  opacity: 80%; }

.light-info {
  color: #ccacac; }

.logo {
  width: 70px;
  opacity: 75%; }

.titulos {
  padding: 10px; }
  .titulos img {
    width: 500px; }

.header {
  grid-area: header; }
  .header nav {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header nav ul {
      text-align: center;
      list-style: none;
      display: flex; }

.navprinc {
  padding: 0%;
  margin: 0%;
  background-size: 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; }

.header nav ul li {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px; }
  .header nav ul li a {
    opacity: 70%; }
    .header nav ul li a:hover {
      opacity: 100%;
      transition: 0.5s; }

.header nav a {
  padding: 5%; }
  .header nav a img {
    opacity: 70%; }
    .header nav a img:hover {
      opacity: 100%;
      transition: 0.5s; }

.principalTitle {
  grid-area: principalTitle;
  padding: 30px; }

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center; }

.navfin {
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 15px;
  justify-content: center; }
  .navfin li {
    padding-left: 25px;
    padding-right: 25px; }
    .navfin li a {
      opacity: 70%; }
      .navfin li a:hover {
        opacity: 100%;
        transition: 0.5s; }

.fotlog a {
  margin: 10px;
  opacity: 70%; }
  .fotlog a:hover {
    opacity: 100%;
    transition: 0.5s; }
  .fotlog a img {
    width: 30px; }

.mult {
  margin: 30px; }
  .mult form {
    padding: 20px; }
  .mult label {
    padding: 10px; }

.selec label {
  padding: 10px; }

.container3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr 3fr auto;
  grid-template-areas: "header" "principalTitle" "section3" "section4" "footer"; }

.section7 {
  grid-area: section3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.section8 {
  grid-area: section4; }

.container3 .principalTitle img {
  margin: auto;
  width: 150px; }

.container1 {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header" "principalTitle principalTitle" "section1 section3" "section1 section4" "footer footer"; }

.galeriawidth {
  width: 500px; }

.section1 {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.section1 nav ul li {
  padding-top: 10px;
  list-style: none;
  font-size: 15px; }

.section1 nav h3 {
  margin: 10px; }

.leftmenu ul li a {
  opacity: 70%; }
  .leftmenu ul li a:hover {
    opacity: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s; }

.leftcoming {
  padding-top: 20px; }

.section3 {
  grid-area: section3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.section4 {
  grid-area: section4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px; }

.section4 h2 {
  padding-top: 50px; }

.trailer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .trailer iframe {
    width: 300px;
    height: auto;
    opacity: 60%;
    margin: 3rem; }
    .trailer iframe:hover {
      opacity: 100%;
      transition: 0.5s; }

.blurgallery {
  filter: blur(1rem);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-filter: blur(1rem); }

.blurgallery:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out; }

.empty {
  grid-area: empty; }

.bg-button-me {
  background-color: #ccacac;
  color: #1f0000; }

.carousel-indicators .buttonlight {
  background-color: #ccacac; }

.container2 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header" "principalTitle principalTitle" "section4 section3" "footer footer"; }

.section5 {
  grid-area: section3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.boss {
  margin: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .boss img {
    width: 250px; }

.employee {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .employee img {
    width: 250px; }

.emp {
  width: 200px; }

.bg-beige {
  background-color: #ccacac; }

.text-bordo {
  color: #1f0000; }

.section6 {
  grid-area: section4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  align-items: center; }

.section6 h2 {
  text-align: center; }

.container2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "principalTitle" "section3" "section4" "footer"; }

.titulos img {
  width: 300px; }

p {
  font-size: 12px; }

.container4 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "principalTitle" "section3" "footer"; }

.recblack {
  background-color: black; }

.section9 {
  grid-area: section3;
  padding: 30px; }

.container5 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header" "principalTitle" "main" "footer"; }

.main {
  grid-area: main; }

.movie {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .movie img {
    width: 300px; }

.movieinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .movieinfo div {
    display: flex;
    flex-direction: column; }
    .movieinfo div ul li {
      list-style: none;
      padding-top: 5px; }
      .movieinfo div ul li a {
        opacity: 70%; }
        .movieinfo div ul li a:hover {
          opacity: 100%;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s; }

@media only screen and (max-width: 480px) {
  .container1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "principalTitle" "section3" "section4" "section1" "footer"; }
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 15px; }
  .galeriawidth {
    width: 250px; }
  .section1 {
    display: flex; }
  .section3,
  .section4 {
    width: 70; }
  .galeria img {
    max-width: 100px; }
  .trailer iframe {
    width: 250px;
    height: 150px; }
  .leftmenu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .leftcoming {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .principalTitle h1 {
    font-size: 50px; }
  .header nav ul {
    flex-wrap: wrap; }
  /*acomodar bios*/
  .titlegrupo {
    margin: auto; } }
